In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import nivapy3 as nivapy
import numpy as np
import pandas as pd
import seaborn as sn
import teotil2 as teo

sn.set_context("notebook")

# Estimating loads in unmonitored regions - 2022

This notebook uses the [TEOTIL2 model](https://nivanorge.github.io/teotil2/) to estimate loads in unmonitored areas. We know the regine ID for each of the 155 stations where water chemistry is measured, and we also know which OSPAR region each monitoring site drains to. We want to use observed data to estimate loads upstream of each monitoring point, and modelled data elsewhere.

In [2]:
# Connect to db
engine = nivapy.da.connect()

Username:  ········
Password:  ········

Connection successful.

## 1. Generate model input file

In [3]:
# Year of interest
year = 2022

# Parameters of interest
par_list = ["Tot-N", "Tot-P"]

# Path to TEOTIL2 "core" input data
teo_fold = r"/home/jovyan/shared/common/JES/teotil2/data/core_input_data"

# Ouput path for model file
ann_input_csv = f"/home/jovyan/shared/common/JES/teotil2/data/norway_annual_input_data/input_data_{year}.csv"

In [4]:
# Make input file
df = teo.io.make_input_file(
    year, engine, teo_fold, ann_input_csv, mode="nutrients", par_list=par_list
)

/opt/conda/lib/python3.10/site-packages/teotil2/io.py:731: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.fillna(value=0, inplace=True)

## 2. Run model

In [5]:
%%time

# Run model
g = teo.model.run_model(ann_input_csv)

/opt/conda/lib/python3.10/site-packages/teotil2/model.py:67: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  df[f"trans_{par}"].between(0, 1, inclusive=True).all()

CPU times: user 4.1 s, sys: 108 ms, total: 4.21 s
Wall time: 4.21 s

## 3. Save results

In [6]:
# Save results as csv
res_csv = f"/home/jovyan/shared/common/JES/teotil2/data/norway_annual_output_data/teotil2_results_{year}.csv"
df = teo.model.model_to_dataframe(g, out_path=res_csv)

df.head()

,regine,regine_ned,accum_agri_diff_tot-n_tonnes,accum_agri_diff_tot-p_tonnes,accum_agri_pt_tot-n_tonnes,accum_agri_pt_tot-p_tonnes,accum_all_point_tot-n_tonnes,accum_all_point_tot-p_tonnes,accum_all_sources_tot-n_tonnes,accum_all_sources_tot-p_tonnes,...,local_ren_tot-n_tonnes,local_ren_tot-p_tonnes,local_runoff_mm/yr,local_spr_tot-n_tonnes,local_spr_tot-p_tonnes,local_trans_tot-n,local_trans_tot-p,local_urban_tot-n_tonnes,local_urban_tot-p_tonnes,local_vol_lake_m3
0,001.1A2B,001.1A2A,2.805221,0.177012,0.033277,0.002690,1.483362,0.013363,13.351797,0.494666,...,1.33649,0.00535,220.859067,0.113595,0.005323,1.00,1.00,0.02205,0.00315,1.788754e+08
1,001.1A4D,001.1A4C,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.090964,0.008156,...,0.00000,0.00000,257.668911,0.000000,0.000000,0.81,0.26,0.00000,0.00000,8.019497e+06
2,001.1M,001.1L,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.816224,0.030855,...,0.00000,0.00000,257.668911,0.000000,0.000000,0.86,0.31,0.00000,0.00000,3.866908e+07
3,001.221Z,001.2210,0.113177,0.007142,0.001343,0.000109,0.005926,0.000323,0.323165,0.009825,...,0.00000,0.00000,220.859067,0.004583,0.000215,1.00,1.00,0.00000,0.00000,0.000000e+00
4,001.222Z,001.2220,0.932636,0.058850,0.011063,0.000894,0.048830,0.002664,1.819682,0.072533,...,0.00000,0.00000,220.859067,0.037766,0.001770,1.00,1.00,0.00000,0.00000,0.000000e+00

In [7]:
# Save version with main catchments only
main_list = ["%03d." % i for i in range(1, 316)]
df2 = df.query("regine in @main_list")
df2.sort_values("regine", inplace=True)

# Save
main_csv = f"/home/jovyan/shared/common/JES/teotil2_data/results/unmon_loads/teotil2_results_{year}_main_catchs.csv"
df2.to_csv(main_csv, index=False, encoding="utf-8")

/tmp/ipykernel_1073/2461732850.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.sort_values("regine", inplace=True)

## 4. Explore results

### 4.1. Total N and P

####  4.1.1. Identify areas with monitoring data

Where observations are available, we want to use them in preference to the model output. This means identifying all the catchments with observed data and substracting the model results for these locations. This is more complicated than it appears, because a small number of observed catchments are upstream of others, so subtracting all the loads for the 155 monitored catchments involves "double accounting", which we want to avoid. The first step is therefore to identify the downstream-most nodes for the monitored areas i.e. for the cases where one catchment is upstream of another, we just want the downstream node.

In [8]:
# Read station data
in_xlsx = r"/home/jovyan/shared/common/JES/teotil2_data/RID_Sites_List_2017-2020.xlsx"
stn_df = pd.read_excel(in_xlsx, sheet_name="RID_All")

# Get just cols of interest and drop duplicates
# (some sites are in the same regine)
stn_df = stn_df[["ospar_region", "nve_vassdrag_nr"]].drop_duplicates()

# Get catch IDs with obs data
obs_nds = set(stn_df["nve_vassdrag_nr"].values)

# Build network from input file
g, nd_list = teo.calib.build_calib_network(ann_input_csv, obs_nds)

# Get list of downstream nodes
ds_nds = []
for nd in g:
    # If no downstream nodes
    if g.out_degree(nd) == 0:
        # Node is of interest
        ds_nds.append(nd)

# Get just the downstream catchments
stn_df = stn_df[stn_df["nve_vassdrag_nr"].isin(ds_nds)]

#### 4.1.2. Sum model results for monitored locations

In [9]:
# Read model output
teo_df = pd.read_csv(res_csv)

# Join accumulated outputs to stns of interest
mon_df = pd.merge(
    stn_df, teo_df, how="left", left_on="nve_vassdrag_nr", right_on="regine"
)

# Groupby OSPAR region
mon_df = mon_df.groupby("ospar_region").sum()

# Get just accum cols
cols = [i for i in mon_df.columns if i.split("_")[0] == "accum"]
mon_df = mon_df[cols]

mon_df.head()

/tmp/ipykernel_1073/3675948991.py:10: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  mon_df = mon_df.groupby("ospar_region").sum()

,accum_agri_diff_tot-n_tonnes,accum_agri_diff_tot-p_tonnes,accum_agri_pt_tot-n_tonnes,accum_agri_pt_tot-p_tonnes,accum_all_point_tot-n_tonnes,accum_all_point_tot-p_tonnes,accum_all_sources_tot-n_tonnes,accum_all_sources_tot-p_tonnes,accum_anth_diff_tot-n_tonnes,accum_anth_diff_tot-p_tonnes,...,accum_nat_diff_tot-n_tonnes,accum_nat_diff_tot-p_tonnes,accum_q_m3/s,accum_ren_tot-n_tonnes,accum_ren_tot-p_tonnes,accum_spr_tot-n_tonnes,accum_spr_tot-p_tonnes,accum_upstr_area_km2,accum_urban_tot-n_tonnes,accum_urban_tot-p_tonnes
ospar_region,,,,,,,,,,,,,,,,,,,,,
LOFOTEN-BARENTS SEA,148.332680,4.979030,2.550150,0.219317,92.617790,4.715474,4559.590263,63.475457,148.332680,4.979030,...,4318.639792,53.780953,995.155191,41.926644,1.265975,48.140996,3.230181,63712.78,0.000000,0.000000
NORTH SEA,2907.447707,64.684797,34.862152,2.176470,517.629604,56.551635,11878.316396,193.075826,2913.420277,65.228273,...,8447.266515,71.295917,1226.671425,201.405187,22.677809,133.742539,8.117886,23353.19,5.972570,0.543476
NORWEGIAN SEA2,2947.953770,79.632075,40.763819,3.061545,564.212581,46.994798,14287.175050,276.403951,2964.420748,81.761226,...,10758.541722,147.647927,2055.850352,274.965307,17.537268,195.091634,18.921135,45896.63,16.466978,2.129151
SKAGERAK,11353.719400,250.630010,102.079627,5.546824,3980.678186,92.928086,27863.834450,476.804233,11515.654639,268.107773,...,12367.501625,115.768374,1473.171105,2866.576450,21.353211,784.483581,39.046845,93945.27,161.935239,17.477763

This table gives the **modelled** inputs to each OSPAR region from catchments for which we have observed data. We want to subtract these values from the overall modelled inputs to each region and substitute the observed data instead.

The trickiest part of this is that the OSPAR regions in the TEOTIL catchment network (files named `regine_{year}.csv`) don't exactly match the relevant OSPAR definitions for this analysis. This is because the "OSPAR boundaries" in the model include catchments draining to Sweden (as part of TEOTIL2 Metals - see [here](https://nivanorge.github.io/teotil2/pages/07_1000_lakes.html)), so instead of using them directly we need to aggregate based on vassdragsnummers.

#### 4.1.3. Group model output according to "new" OSPAR regions

In [10]:
# Define "new" OSPAR regions (ranges are inclusive)
os_dict = {
    "SKAGERAK": (1, 23),
    "NORTH SEA": (24, 90),
    "NORWEGIAN SEA2": (91, 170),
    "LOFOTEN-BARENTS SEA": (171, 247),
}

# Container for results
df_list = []

# Loop over model output
for reg in os_dict.keys():
    min_id, max_id = os_dict[reg]

    regs = ["%03d." % i for i in range(min_id, max_id + 1)]

    # Get data for this region
    df2 = teo_df[teo_df["regine"].isin(regs)]

    # Get just accum cols
    cols = [i for i in df2.columns if i.split("_")[0] == "accum"]
    df2 = df2[cols]

    # Add region
    df2["ospar_region"] = reg

    # Add to output
    df_list.append(df2)

# Build df
os_df = pd.concat(df_list, axis=0)

# Aggregate
os_df = os_df.groupby("ospar_region").sum()

os_df.head()

,accum_agri_diff_tot-n_tonnes,accum_agri_diff_tot-p_tonnes,accum_agri_pt_tot-n_tonnes,accum_agri_pt_tot-p_tonnes,accum_all_point_tot-n_tonnes,accum_all_point_tot-p_tonnes,accum_all_sources_tot-n_tonnes,accum_all_sources_tot-p_tonnes,accum_anth_diff_tot-n_tonnes,accum_anth_diff_tot-p_tonnes,...,accum_nat_diff_tot-n_tonnes,accum_nat_diff_tot-p_tonnes,accum_q_m3/s,accum_ren_tot-n_tonnes,accum_ren_tot-p_tonnes,accum_spr_tot-n_tonnes,accum_spr_tot-p_tonnes,accum_upstr_area_km2,accum_urban_tot-n_tonnes,accum_urban_tot-p_tonnes
ospar_region,,,,,,,,,,,,,,,,,,,,,
LOFOTEN-BARENTS SEA,618.082569,25.476645,10.565114,0.885819,20367.206091,3386.081332,30884.864683,3561.346322,628.054879,26.880485,...,9889.603712,148.384504,2512.152853,1274.818947,133.236998,311.607024,33.901022,138090.89,9.972310,1.403841
NORTH SEA,6952.275954,177.324293,80.323926,5.829535,25730.948153,4230.239212,49919.284047,4575.716406,6992.093436,182.392963,...,17196.242458,163.084230,2557.003171,3241.587925,420.026010,649.855841,70.429211,59314.38,39.817482,5.068670
NORWEGIAN SEA2,7990.573239,257.116426,101.708615,8.082202,33668.137862,5581.067463,61474.477539,6127.559127,8022.732030,261.356869,...,19783.607647,285.134796,4032.585373,2675.900303,346.395066,678.311341,77.569524,113934.05,32.158791,4.240442
SKAGERAK,13048.388219,318.300391,112.985724,6.352341,10142.189770,220.687885,36859.335291,698.948641,13322.122688,351.032358,...,13395.022833,127.228398,1557.528793,7960.715528,95.572998,922.495022,52.259636,102574.69,273.734469,32.731966

We can now calculate the unmonitored component by simply subtracting the values modelled upstream of monitoring stations from the overall modelled inputs to each OSPAR region.

#### 4.1.4. Estimate loads in unmonitored areas

In [11]:
# Calc unmonitored loads
unmon_df = os_df - mon_df

# Write output
out_csv = f"/home/jovyan/shared/common/JES/teotil2_data/results/unmon_loads/teotil2_raw_unmonitored_loads_{year}.csv"
unmon_df.to_csv(out_csv, encoding="utf-8", index_label="ospar_region")

unmon_df.round(0).astype(int).T

ospar_region,LOFOTEN-BARENTS SEA,NORTH SEA,NORWEGIAN SEA2,SKAGERAK
accum_agri_diff_tot-n_tonnes,470,4045,5043,1695
accum_agri_diff_tot-p_tonnes,20,113,177,68
accum_agri_pt_tot-n_tonnes,8,45,61,11
accum_agri_pt_tot-p_tonnes,1,4,5,1
accum_all_point_tot-n_tonnes,20275,25213,33104,6162
accum_all_point_tot-p_tonnes,3381,4174,5534,128
accum_all_sources_tot-n_tonnes,26325,38041,47187,8996
accum_all_sources_tot-p_tonnes,3498,4383,5851,222
accum_anth_diff_tot-n_tonnes,480,4079,5058,1806
accum_anth_diff_tot-p_tonnes,22,117,180,83
accum_aqu_tot-n_tonnes,18092,21118,29220,23
accum_aqu_tot-p_tonnes,3134,3640,5046,4
accum_ind_tot-n_tonnes,678,494,939,896
accum_ind_tot-p_tonnes,84,70,95,36
accum_nat_diff_tot-n_tonnes,5571,8749,9025,1028
accum_nat_diff_tot-p_tonnes,95,92,137,11
accum_q_m3/s,1517,1330,1977,84
accum_ren_tot-n_tonnes,1233,3040,2401,5094
accum_ren_tot-p_tonnes,132,397,329,74
accum_spr_tot-n_tonnes,263,516,483,138
accum_spr_tot-p_tonnes,31,62,59,13
accum_upstr_area_km2,74378,35961,68037,8629
accum_urban_tot-n_tonnes,10,34,16,112
accum_urban_tot-p_tonnes,1,5,2,15

#### 4.1.5. Aggregate values to required quantities

In [12]:
# Aggregate to match report
unmon_df["flow"] = unmon_df["accum_q_m3/s"] * 60 * 60 * 24 / 1000.0  # 1000s m3/day

unmon_df["sew_n"] = (
    unmon_df["accum_ren_tot-n_tonnes"] + unmon_df["accum_spr_tot-n_tonnes"]
)
unmon_df["sew_p"] = (
    unmon_df["accum_ren_tot-p_tonnes"] + unmon_df["accum_spr_tot-p_tonnes"]
)

unmon_df["ind_n"] = unmon_df["accum_ind_tot-n_tonnes"]
unmon_df["ind_p"] = unmon_df["accum_ind_tot-p_tonnes"]

unmon_df["fish_n"] = unmon_df["accum_aqu_tot-n_tonnes"]
unmon_df["fish_p"] = unmon_df["accum_aqu_tot-p_tonnes"]

unmon_df["diff_n"] = (
    unmon_df["accum_anth_diff_tot-n_tonnes"] + unmon_df["accum_nat_diff_tot-n_tonnes"]
)
unmon_df["diff_p"] = (
    unmon_df["accum_anth_diff_tot-p_tonnes"] + unmon_df["accum_nat_diff_tot-p_tonnes"]
)

new_df = unmon_df[
    ["flow", "sew_n", "sew_p", "ind_n", "ind_p", "fish_n", "fish_p", "diff_n", "diff_p"]
]

# Total for Norway
new_df.loc["NORWAY"] = new_df.sum(axis=0)

# Reorder rows
new_df = new_df.reindex(
    ["NORWAY", "LOFOTEN-BARENTS SEA", "NORTH SEA", "NORWEGIAN SEA2", "SKAGERAK"]
)

new_df.round().astype(int)

/tmp/ipykernel_1073/2545542187.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df.loc["NORWAY"] = new_df.sum(axis=0)

,flow,sew_n,sew_p,ind_n,ind_p,fish_n,fish_p,diff_n,diff_p
ospar_region,,,,,,,,,
NORWAY,424088,13169,1097,3006,285,68453,11825,35796,737
LOFOTEN-BARENTS SEA,131069,1496,163,678,84,18092,3134,6051,117
NORTH SEA,114941,3556,460,494,70,21118,3640,12828,209
NORWEGIAN SEA2,170790,2884,388,939,95,29220,5046,14083,317
SKAGERAK,7289,5232,87,896,36,23,4,2834,94

## 5. Other N and P species

Tore's procedure `RESA2.FIXTEOTILPN` defines simple correction factors for estimating PO4, NO3 and NH4 from total P and N. The table below lists the factors used.

|   Source    | Phosphate | Nitrate | Ammonium |
|:-----------:|:---------:|:-------:|:--------:|
|    Sewage   |     0.600 |   0.050 |    0.750 |
|   Industry  |     0.600 |   0.050 |    0.750 |
| Aquaculture |     0.690 |   0.110 |    0.800 |
|   Diffuse   |     0.246 |   0.625 |    0.055 |

In [13]:
# Dict of conversion factors
con_dict = {
    ("sew", "po4"): ("p", 0.6),
    ("ind", "po4"): ("p", 0.6),
    ("fish", "po4"): ("p", 0.69),
    ("diff", "po4"): ("p", 0.246),
    ("sew", "no3"): ("n", 0.05),
    ("ind", "no3"): ("n", 0.05),
    ("fish", "no3"): ("n", 0.11),
    ("diff", "no3"): ("n", 0.625),
    ("sew", "nh4"): ("n", 0.75),
    ("ind", "nh4"): ("n", 0.75),
    ("fish", "nh4"): ("n", 0.8),
    ("diff", "nh4"): ("n", 0.055),
}

# Apply factors
for src in ["sew", "ind", "fish", "diff"]:
    for spc in ["po4", "no3", "nh4"]:
        el, fac = con_dict[(src, spc)]
        new_df[src + "_" + spc] = fac * new_df[src + "_" + el]

new_df.round().astype(int).T

ospar_region  NORWAY  LOFOTEN-BARENTS SEA  NORTH SEA  NORWEGIAN SEA2  SKAGERAK
flow          424088               131069     114941          170790      7289
sew_n          13169                 1496       3556            2884      5232
sew_p           1097                  163        460             388        87
ind_n           3006                  678        494             939       896
ind_p            285                   84         70              95        36
fish_n         68453                18092      21118           29220        23
fish_p         11825                 3134       3640            5046         4
diff_n         35796                 6051      12828           14083      2834
diff_p           737                  117        209             317        94
sew_po4          658                   98        276             233        52
sew_no3          658                   75        178             144       262
sew_nh4         9877                 1122       2667            2163      3924
ind_po4          171                   50         42              57        21
ind_no3          150                   34         25              47        45
ind_nh4         2255                  509        370             704       672
fish_po4        8159                 2163       2512            3482         3
fish_no3        7530                 1990       2323            3214         3
fish_nh4       54762                14474      16894           23376        18
diff_po4         181                   29         51              78        23
diff_no3       22372                 3782       8017            8802      1771
diff_nh4        1969                  333        706             775       156

## 6. Other quantities

The model currently only considers N and P, but the project focuses on a wider range of parameters. For now, we simply assume that all measured inputs (`renseanlegg`, `industri` and `akvakultur`) for regines outside of catchments with measured data make it to the sea.

We only want data for catchments that are not monitored i.e. for regine IDs **not** in the graph created above.

In [14]:
# The sql below uses a horrible (and slow!) hack to get around Oracle's
# 1000 item limit on IN clauses. See here for details:
# https://stackoverflow.com/a/9084247/505698
nd_list_hack = [(1, i) for i in nd_list]

sql = (
    "SELECT SUBSTR(a.regine, 1, 3) AS vassdrag, "
    "  a.type, "
    "  b.name, "
    "  b.unit, "
    "  SUM(c.value * d.factor) as value "
    "FROM RESA2.RID_PUNKTKILDER a, "
    "RESA2.RID_PUNKTKILDER_OUTPAR_DEF b, "
    "RESA2.RID_PUNKTKILDER_INPAR_VALUES c, "
    "RESA2.RID_PUNKTKILDER_INP_OUTP d "
    "WHERE a.anlegg_nr = c.anlegg_nr "
    "AND (1, a.regine) NOT IN %s "
    "AND d.in_pid = c.inp_par_id "
    "AND d.out_pid = b.out_pid "
    "AND c.year = %s "
    "GROUP BY SUBSTR(a.regine, 1, 3), a.type, b.name, b.unit "
    "ORDER BY SUBSTR(a.regine, 1, 3), a.type" % (tuple(nd_list_hack), year)
)

df = pd.read_sql(sql, engine)

# Tidy
df["par"] = df["type"] + "_" + df["name"] + "_" + df["unit"]
del df["name"], df["unit"], df["type"]

# Pivot
df = df.pivot(index="vassdrag", columns="par", values="value")
df.reset_index(inplace=True)

In [15]:
def f(x):
    try:
        a = int(x)
        return a
    except:
        return -999


# Convert vassdrag to numbers
df["vass"] = df["vassdrag"].apply(f)

# Get just the main catchments
df = df.query("vass != -999")

df.head()

par,vassdrag,INDUSTRI_As_tonn,INDUSTRI_Cd_tonn,INDUSTRI_Cr_tonn,INDUSTRI_Cu_tonn,INDUSTRI_Hg_tonn,INDUSTRI_NH3_tonn,INDUSTRI_NH4-N_tonn,INDUSTRI_Ni_tonn,INDUSTRI_PCB_tonn,...,RENSEANLEGG_Hg_tonn,RENSEANLEGG_Ni_tonn,RENSEANLEGG_PAH_tonn,RENSEANLEGG_PCB_tonn,RENSEANLEGG_Pb_tonn,RENSEANLEGG_S.P.M._tonn,RENSEANLEGG_Tot-N_tonn,RENSEANLEGG_Tot-P_tonn,RENSEANLEGG_Zn_tonn,vass
0,001,0.021800,1.034000e-02,0.003280,0.071877,0.000000e+00,NaN,NaN,0.023760,NaN,...,0.000011,0.012621,NaN,0.000000,0.000432,107.45076,134.56019,1.80089,0.048381,1
1,002,0.011266,6.432600e-03,0.627168,2.436368,3.104000e-03,NaN,NaN,0.491716,NaN,...,0.000069,0.171338,0.000103,0.000000,0.061845,607.58205,733.32330,7.64486,0.843516,2
2,003,0.000018,9.000000e-07,0.000025,0.000156,1.000000e-07,0.0009,0.1006,0.000092,NaN,...,0.000023,0.023561,0.000105,0.000037,0.000746,133.67186,306.78520,3.16383,0.110686,3
3,004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000004,0.005010,NaN,NaN,0.000309,NaN,150.34567,1.39694,0.050476,4
4,005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,9.27185,0.26483,NaN,5

In [16]:
def f2(x):
    if x in range(1, 24):
        return "SKAGERAK"
    elif x in range(24, 91):
        return "NORTH SEA"
    elif x in range(91, 171):
        return "NORWEGIAN SEA2"
    elif x in range(171, 248):
        return "LOFOTEN-BARENTS SEA"
    else:
        return np.nan


# Assign main catchments to OSPAR regions
df["osp_reg"] = df["vass"].apply(f2)

df.head()

par,vassdrag,INDUSTRI_As_tonn,INDUSTRI_Cd_tonn,INDUSTRI_Cr_tonn,INDUSTRI_Cu_tonn,INDUSTRI_Hg_tonn,INDUSTRI_NH3_tonn,INDUSTRI_NH4-N_tonn,INDUSTRI_Ni_tonn,INDUSTRI_PCB_tonn,...,RENSEANLEGG_Ni_tonn,RENSEANLEGG_PAH_tonn,RENSEANLEGG_PCB_tonn,RENSEANLEGG_Pb_tonn,RENSEANLEGG_S.P.M._tonn,RENSEANLEGG_Tot-N_tonn,RENSEANLEGG_Tot-P_tonn,RENSEANLEGG_Zn_tonn,vass,osp_reg
0,001,0.021800,1.034000e-02,0.003280,0.071877,0.000000e+00,NaN,NaN,0.023760,NaN,...,0.012621,NaN,0.000000,0.000432,107.45076,134.56019,1.80089,0.048381,1,SKAGERAK
1,002,0.011266,6.432600e-03,0.627168,2.436368,3.104000e-03,NaN,NaN,0.491716,NaN,...,0.171338,0.000103,0.000000,0.061845,607.58205,733.32330,7.64486,0.843516,2,SKAGERAK
2,003,0.000018,9.000000e-07,0.000025,0.000156,1.000000e-07,0.0009,0.1006,0.000092,NaN,...,0.023561,0.000105,0.000037,0.000746,133.67186,306.78520,3.16383,0.110686,3,SKAGERAK
3,004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.005010,NaN,NaN,0.000309,NaN,150.34567,1.39694,0.050476,4,SKAGERAK
4,005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,9.27185,0.26483,NaN,5,SKAGERAK

In [17]:
# Group by OSPAR region
df.fillna(0, inplace=True)
df = df.groupby("osp_reg").sum()
df.drop(0, inplace=True)

# Total for Norway
df.loc["NORWAY"] = df.sum(axis=0)

# Join to model results
df = new_df.join(df)

# Get cols of interest
umod_cols = ["S.P.M.", "TOC", "As", "Pb", "Cd", "Cu", "Zn", "Ni", "Cr", "Hg"]
umod_cols = [
    "%s_%s_tonn" % (i, j) for i in ["INDUSTRI", "RENSEANLEGG"] for j in umod_cols
]
cols = list(new_df.columns) + umod_cols
cols.remove("RENSEANLEGG_TOC_tonn")
df = df[cols]

df.round(0).astype(int).T

/tmp/ipykernel_1073/2621561996.py:3: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df = df.groupby("osp_reg").sum()

ospar_region,NORWAY,LOFOTEN-BARENTS SEA,NORTH SEA,NORWEGIAN SEA2,SKAGERAK
flow,424088,131069,114941,170790,7289
sew_n,13169,1496,3556,2884,5232
sew_p,1097,163,460,388,87
ind_n,3006,678,494,939,896
ind_p,285,84,70,95,36
fish_n,68453,18092,21118,29220,23
fish_p,11825,3134,3640,5046,4
diff_n,35796,6051,12828,14083,2834
diff_p,737,117,209,317,94
sew_po4,658,98,276,233,52
sew_no3,658,75,178,144,262
sew_nh4,9877,1122,2667,2163,3924
ind_po4,171,50,42,57,21
ind_no3,150,34,25,47,45
ind_nh4,2255,509,370,704,672
fish_po4,8159,2163,2512,3482,3
fish_no3,7530,1990,2323,3214,3
fish_nh4,54762,14474,16894,23376,18
diff_po4,181,29,51,78,23
diff_no3,22372,3782,8017,8802,1771
diff_nh4,1969,333,706,775,156
INDUSTRI_S.P.M._tonn,443084,216661,7046,218781,596
INDUSTRI_TOC_tonn,1450,386,690,268,107
INDUSTRI_As_tonn,2,0,2,0,0
INDUSTRI_Pb_tonn,1,0,1,0,0
INDUSTRI_Cd_tonn,0,0,0,0,0
INDUSTRI_Cu_tonn,4,0,1,1,3
INDUSTRI_Zn_tonn,12,0,4,3,5
INDUSTRI_Ni_tonn,5,0,3,0,2
INDUSTRI_Cr_tonn,1,0,0,0,1
INDUSTRI_Hg_tonn,0,0,0,0,0
RENSEANLEGG_S.P.M._tonn,14740,2240,5991,4647,1862
RENSEANLEGG_As_tonn,0,0,0,0,0
RENSEANLEGG_Pb_tonn,0,0,0,0,0
RENSEANLEGG_Cd_tonn,0,0,0,0,0
RENSEANLEGG_Cu_tonn,4,0,1,1,2
RENSEANLEGG_Zn_tonn,12,0,3,2,7
RENSEANLEGG_Ni_tonn,2,0,0,0,1
RENSEANLEGG_Cr_tonn,0,0,0,0,0
RENSEANLEGG_Hg_tonn,0,0,0,0,0

## 7. Fish farm copper

Finally, we need to add in the Cu totals from fish farms. The method is similar to that used above, but simpler because we're only interested in one parameter.

In [18]:
# The sql below uses a horrible (and slow!) hack to get around Oracle's
# 1000 item limit on IN clauses. See here for details:
# https://stackoverflow.com/a/9084247/505698
nd_list_hack = [(1, i) for i in nd_list]
sql = (
    "SELECT SUBSTR(regine, 1, 3) AS vassdrag, "
    "  SUM(value) AS value FROM ( "
    "    SELECT b.regine, "
    "           c.name, "
    "           (a.value*d.factor) AS value "
    "    FROM resa2.rid_kilder_aqkult_values a, "
    "    resa2.rid_kilder_aquakultur b, "
    "    resa2.rid_punktkilder_outpar_def c, "
    "    resa2.rid_punktkilder_inp_outp d "
    "    WHERE a.anlegg_nr = b.nr "
    "    AND (1, b.regine) NOT IN %s "
    "    AND a.inp_par_id = d.in_pid "
    "    AND c.out_pid = d.out_pid "
    "    AND name = 'Cu' "
    "    AND ar = %s) "
    "GROUP BY SUBSTR(regine, 1, 3)" % (tuple(nd_list_hack), year)
)
aq_df = pd.read_sql(sql, engine)

# Get vassdrag
aq_df["vass"] = aq_df["vassdrag"].apply(f)
aq_df = aq_df.query("vass != -999")

# Calc OSPAR region and group
aq_df["osp_reg"] = aq_df["vass"].apply(f2)
aq_df.fillna(0, inplace=True)
aq_df = aq_df.groupby("osp_reg").sum()
del aq_df["vass"]

# Total for Norway
aq_df.loc["NORWAY"] = aq_df.sum(axis=0)

# Rename
aq_df.columns = [
    "AQUAKULTUR_Cu_tonn",
]

# Join model results
df = df.join(aq_df)

df.round(0).astype(int).T

/tmp/ipykernel_1073/4213096952.py:32: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  aq_df = aq_df.groupby("osp_reg").sum()

ospar_region,NORWAY,LOFOTEN-BARENTS SEA,NORTH SEA,NORWEGIAN SEA2,SKAGERAK
flow,424088,131069,114941,170790,7289
sew_n,13169,1496,3556,2884,5232
sew_p,1097,163,460,388,87
ind_n,3006,678,494,939,896
ind_p,285,84,70,95,36
fish_n,68453,18092,21118,29220,23
fish_p,11825,3134,3640,5046,4
diff_n,35796,6051,12828,14083,2834
diff_p,737,117,209,317,94
sew_po4,658,98,276,233,52
sew_no3,658,75,178,144,262
sew_nh4,9877,1122,2667,2163,3924
ind_po4,171,50,42,57,21
ind_no3,150,34,25,47,45
ind_nh4,2255,509,370,704,672
fish_po4,8159,2163,2512,3482,3
fish_no3,7530,1990,2323,3214,3
fish_nh4,54762,14474,16894,23376,18
diff_po4,181,29,51,78,23
diff_no3,22372,3782,8017,8802,1771
diff_nh4,1969,333,706,775,156
INDUSTRI_S.P.M._tonn,443084,216661,7046,218781,596
INDUSTRI_TOC_tonn,1450,386,690,268,107
INDUSTRI_As_tonn,2,0,2,0,0
INDUSTRI_Pb_tonn,1,0,1,0,0
INDUSTRI_Cd_tonn,0,0,0,0,0
INDUSTRI_Cu_tonn,4,0,1,1,3
INDUSTRI_Zn_tonn,12,0,4,3,5
INDUSTRI_Ni_tonn,5,0,3,0,2
INDUSTRI_Cr_tonn,1,0,0,0,1
INDUSTRI_Hg_tonn,0,0,0,0,0
RENSEANLEGG_S.P.M._tonn,14740,2240,5991,4647,1862
RENSEANLEGG_As_tonn,0,0,0,0,0
RENSEANLEGG_Pb_tonn,0,0,0,0,0
RENSEANLEGG_Cd_tonn,0,0,0,0,0
RENSEANLEGG_Cu_tonn,4,0,1,1,2
RENSEANLEGG_Zn_tonn,12,0,3,2,7
RENSEANLEGG_Ni_tonn,2,0,0,0,1
RENSEANLEGG_Cr_tonn,0,0,0,0,0
RENSEANLEGG_Hg_tonn,0,0,0,0,0
AQUAKULTUR_Cu_tonn,1306,346,402,557,0

In [19]:
# Write output
out_csv = f"/home/jovyan/shared/common/JES/teotil2_data/results/unmon_loads/teotil2_ospar_unmonitored_loads_{year}.csv"
df.to_csv(out_csv)

This data can then be used to create Table 3 in the report - see [this notebook](https://nbviewer.jupyter.org/github/JamesSample/rid/blob/master/notebooks/summary_table_2017.ipynb) for details.