In [2]:
import pandas as pd

# Summarise detection limits

The Elveoverv√•kingsprogrammet report for 2017-18 includes a table showing the proportion of values for each parameter that are at or below the detection limit. This information can be derived from *concs_and_flows_rid_20_2017.csv*.

In [3]:
# Read data
in_csv = (r'C:\Data\James_Work\Staff\Oeyvind_K\Elveovervakingsprogrammet'
          r'\Results\Loads_CSVs\concs_and_flows_rid_20_2017.csv')
df = pd.read_csv(in_csv)

# Remove unwanted cols
del df['station_id'], df['station_code'], df['station_name'], df['old_rid_group']
del df['new_rid_group'], df['ospar_region'], df['sample_date'], df['Qs_m3/s']

# Count non-null entries and transpose
df = (~df.isnull()).sum()

# Restructure
df = df.reset_index()
df.columns = ['name', 'count']
df['par'], df['unit'] = df['name'].str.split('_', 1).str
del df['name']

flg_df = df.query('unit == "flag"')
smp_df = df.query('unit != "flag"') 

df = pd.merge(smp_df, flg_df, how='left', 
              on='par', suffixes=['_smps', '_dls'])

df = df[['par', 'count_smps', 'count_dls']]
df.columns = ['par', 'n_samples', 'n_lod']

# Prop at LOD
df['lod_pct'] = 100*df['n_lod']/df['n_samples']

# Reorder to match Eva's table
par_list = ['pH', 'KOND', 'SPM', 'TOC', 'TOTP', 'PO4-P', 'TOTN', 'NO3-N', 'NH4-N', 
            'SiO2', 'Pb', 'Cd', 'Cu', 'Zn', 'As', 'Hg', 'Cr', 'Ni', 'Ag']
ord_df = pd.DataFrame({'par':par_list})

df = pd.merge(ord_df, df, how='left', on='par')

# Save
out_csv = (r'C:\Data\James_Work\Staff\Oeyvind_K\Elveovervakingsprogrammet'
           r'\Results\Loads_CSVs\lod_prop_rid_20_2017.csv')
df.to_csv(out_csv)

df

      par  n_samples  n_lod    lod_pct
0      pH        247      0   0.000000
1    KOND        247      0   0.000000
2     SPM        247     12   4.858300
3     TOC        247      0   0.000000
4    TOTP        247      3   1.214575
5   PO4-P        248     61  24.596774
6    TOTN        248      0   0.000000
7   NO3-N        248      7   2.822581
8   NH4-N        248     95  38.306452
9    SiO2        247      0   0.000000
10     Pb         80      0   0.000000
11     Cd         80     18  22.500000
12     Cu         80      0   0.000000
13     Zn         80      4   5.000000
14     As         80      1   1.250000
15     Hg         80     61  76.250000
16     Cr         80      0   0.000000
17     Ni         80      0   0.000000
18     Ag         80     70  87.500000