In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import nivapy3 as nivapy
import numpy as np
import pandas as pd
import seaborn as sn
import teotil2 as teo

sn.set_context("notebook")

# Estimating loads in unmonitored regions - 2020

This notebook uses the [TEOTIL2 model](https://nivanorge.github.io/teotil2/) to estimate loads in unmonitored areas. We know the regine ID for each of the 155 stations where water chemistry is measured, and we also know which OSPAR region each monitoring site drains to. We want to use observed data to estimate loads upstream of each monitoring point, and modelled data elsewhere.

In [2]:
# Connect to db
engine = nivapy.da.connect()

Username:  ···
Password:  ···············

Connection successful.

## 1. Generate model input file

In [3]:
# Year of interest
year = 2020

# Parameters of interest
par_list = ["Tot-N", "Tot-P"]

# Path to TEOTIL2 "core" input data
teo_fold = r"../../../teotil2/data/core_input_data"

# Ouput path for model file
ann_input_csv = f"../../../teotil2/data/norway_annual_input_data/input_data_{year}.csv"

In [4]:
# Make input file
df = teo.io.make_input_file(
    year, engine, teo_fold, ann_input_csv, mode="nutrients", par_list=par_list
)

/opt/conda/lib/python3.9/site-packages/pandas/core/frame.py:5176: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().fillna(

## 2. Run model

In [5]:
%%time

# Run model
g = teo.model.run_model(ann_input_csv)

/opt/conda/lib/python3.9/site-packages/teotil2/model.py:67: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated infavour of `both` or `neither`.
  df[f"trans_{par}"].between(0, 1, inclusive=True).all()

CPU times: user 8.26 s, sys: 152 ms, total: 8.41 s
Wall time: 8.47 s

## 3. Save results

In [6]:
# Save results as csv
res_csv = f"../../../teotil2/data/norway_annual_output_data/teotil2_results_{year}.csv"
df = teo.model.model_to_dataframe(g, out_path=res_csv)

df.head()

,regine,regine_ned,accum_agri_diff_tot-n_tonnes,accum_agri_diff_tot-p_tonnes,accum_agri_pt_tot-n_tonnes,accum_agri_pt_tot-p_tonnes,accum_all_point_tot-n_tonnes,accum_all_point_tot-p_tonnes,accum_all_sources_tot-n_tonnes,accum_all_sources_tot-p_tonnes,...,local_ren_tot-n_tonnes,local_ren_tot-p_tonnes,local_runoff_mm/yr,local_spr_tot-n_tonnes,local_spr_tot-p_tonnes,local_trans_tot-n,local_trans_tot-p,local_urban_tot-n_tonnes,local_urban_tot-p_tonnes,local_vol_lake_m3
0,001.1A2B,001.1A2A,3.405478,0.267995,0.033277,0.002690,1.128754,0.020180,16.581684,0.628276,...,0.81598,0.00235,408.199416,0.279497,0.015140,1.00,1.00,0.02205,0.00315,1.788754e+08
1,001.1A4D,001.1A4C,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.741429,0.010661,...,0.00000,0.00000,476.232652,0.000000,0.000000,0.81,0.26,0.00000,0.00000,8.019497e+06
2,001.1M,001.1L,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4.048699,0.036187,...,0.00000,0.00000,476.232652,0.000000,0.000000,0.86,0.31,0.00000,0.00000,3.866908e+07
3,001.221Z,001.2210,0.137395,0.010812,0.001343,0.000109,0.012619,0.000719,0.505644,0.015408,...,0.00000,0.00000,408.199416,0.011276,0.000611,1.00,1.00,0.00000,0.00000,0.000000e+00
4,001.222Z,001.2220,1.132199,0.089099,0.011063,0.000894,0.103986,0.005928,2.608041,0.111382,...,0.00000,0.00000,408.199416,0.092923,0.005034,1.00,1.00,0.00000,0.00000,0.000000e+00

In [7]:
# Save version with main catchments only
main_list = ["%03d." % i for i in range(1, 316)]
df2 = df.query("regine in @main_list")
df2.sort_values("regine", inplace=True)

# Save
main_csv = f"../../../Results/Unmon_loads/teotil2_results_{year}_main_catchs.csv"
df2.to_csv(main_csv, index=False, encoding="utf-8")

/opt/conda/lib/python3.9/site-packages/pandas/util/_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

## 4. Explore results

### 4.1. Total N and P

####  4.1.1. Identify areas with monitoring data

Where observations are available, we want to use them in preference to the model output. This means identifying all the catchments with observed data and substracting the model results for these locations. This is more complicated than it appears, because a small number of observed catchments are upstream of others, so subtracting all the loads for the 155 monitored catchments involves "double accounting", which we want to avoid. The first step is therefore to identify the downstream-most nodes for the monitored areas i.e. for the cases where one catchment is upstream of another, we just want the downstream node.

In [8]:
# Read station data
in_xlsx = r"../../../Data/RID_Sites_List_2017-2020.xlsx"
stn_df = pd.read_excel(in_xlsx, sheet_name="RID_All")

# Get just cols of interest and drop duplicates
# (some sites are in the same regine)
stn_df = stn_df[["ospar_region", "nve_vassdrag_nr"]].drop_duplicates()

# Get catch IDs with obs data
obs_nds = set(stn_df["nve_vassdrag_nr"].values)

# Build network from input file
g, nd_list = teo.calib.build_calib_network(ann_input_csv, obs_nds)

# Get list of downstream nodes
ds_nds = []
for nd in g:
    # If no downstream nodes
    if g.out_degree(nd) == 0:
        # Node is of interest
        ds_nds.append(nd)

# Get just the downstream catchments
stn_df = stn_df[stn_df["nve_vassdrag_nr"].isin(ds_nds)]

#### 4.1.2. Sum model results for monitored locations

In [9]:
# Read model output
teo_df = pd.read_csv(res_csv)

# Join accumulated outputs to stns of interest
mon_df = pd.merge(
    stn_df, teo_df, how="left", left_on="nve_vassdrag_nr", right_on="regine"
)

# Groupby OSPAR region
mon_df = mon_df.groupby("ospar_region").sum()

# Get just accum cols
cols = [i for i in mon_df.columns if i.split("_")[0] == "accum"]
mon_df = mon_df[cols]

mon_df.head()

,accum_agri_diff_tot-n_tonnes,accum_agri_diff_tot-p_tonnes,accum_agri_pt_tot-n_tonnes,accum_agri_pt_tot-p_tonnes,accum_all_point_tot-n_tonnes,accum_all_point_tot-p_tonnes,accum_all_sources_tot-n_tonnes,accum_all_sources_tot-p_tonnes,accum_anth_diff_tot-n_tonnes,accum_anth_diff_tot-p_tonnes,...,accum_nat_diff_tot-n_tonnes,accum_nat_diff_tot-p_tonnes,accum_q_m3/s,accum_ren_tot-n_tonnes,accum_ren_tot-p_tonnes,accum_spr_tot-n_tonnes,accum_spr_tot-p_tonnes,accum_upstr_area_km2,accum_urban_tot-n_tonnes,accum_urban_tot-p_tonnes
ospar_region,,,,,,,,,,,,,,,,,,,,,
LOFOTEN-BARENTS SEA,161.043570,4.424814,2.550150,0.219317,89.699985,4.595139,4511.092261,62.593255,161.043570,4.424814,...,4260.348707,53.573302,940.056717,40.020276,1.248375,47.129558,3.127446,63712.78,0.000000,0.000000
NORTH SEA,3037.120309,63.310635,34.862152,2.176470,568.197682,58.188798,13658.785237,205.037949,3043.092879,63.854111,...,10047.494676,82.995039,1528.713444,235.912266,21.046962,136.125493,8.371248,23353.19,5.972570,0.543476
NORWEGIAN SEA2,3222.820781,95.870182,40.763819,3.061545,626.944676,53.042117,14626.440135,298.758533,3239.287759,97.999333,...,10760.207700,147.717083,2061.795776,313.669259,16.477936,202.379557,19.912877,45896.63,16.466978,2.129151
SKAGERAK,12714.614424,343.007915,102.079627,5.546824,4010.701285,103.612178,33701.004399,608.280087,12876.549663,360.485677,...,16813.753451,144.182231,2293.657328,2922.990257,25.150007,804.303044,42.922315,93945.27,161.935239,17.477763

This table gives the **modelled** inputs to each OSPAR region from catchments for which we have observed data. We want to subtract these values from the overall modelled inputs to each region and substitute the observed data instead.

The trickiest part of this is that the OSPAR regions in the TEOTIL catchment network (files named `regine_{year}.csv`) don't exactly match the relevant OSPAR definitions for this analysis. This is because the "OSPAR boundaries" in the model include catchments draining to Sweden (as part of TEOTIL2 Metals - see [here](https://nivanorge.github.io/teotil2/pages/07_1000_lakes.html)), so instead of using them directly we need to aggregate based on vassdragsnummers.

#### 4.1.3. Group model output according to "new" OSPAR regions

In [10]:
# Define "new" OSPAR regions (ranges are inclusive)
os_dict = {
    "SKAGERAK": (1, 23),
    "NORTH SEA": (24, 90),
    "NORWEGIAN SEA2": (91, 170),
    "LOFOTEN-BARENTS SEA": (171, 247),
}

# Container for results
df_list = []

# Loop over model output
for reg in os_dict.keys():
    min_id, max_id = os_dict[reg]

    regs = ["%03d." % i for i in range(min_id, max_id + 1)]

    # Get data for this region
    df2 = teo_df[teo_df["regine"].isin(regs)]

    # Get just accum cols
    cols = [i for i in df2.columns if i.split("_")[0] == "accum"]
    df2 = df2[cols]

    # Add region
    df2["ospar_region"] = reg

    # Add to output
    df_list.append(df2)

# Build df
os_df = pd.concat(df_list, axis=0)

# Aggregate
os_df = os_df.groupby("ospar_region").sum()

os_df.head()

,accum_agri_diff_tot-n_tonnes,accum_agri_diff_tot-p_tonnes,accum_agri_pt_tot-n_tonnes,accum_agri_pt_tot-p_tonnes,accum_all_point_tot-n_tonnes,accum_all_point_tot-p_tonnes,accum_all_sources_tot-n_tonnes,accum_all_sources_tot-p_tonnes,accum_anth_diff_tot-n_tonnes,accum_anth_diff_tot-p_tonnes,...,accum_nat_diff_tot-n_tonnes,accum_nat_diff_tot-p_tonnes,accum_q_m3/s,accum_ren_tot-n_tonnes,accum_ren_tot-p_tonnes,accum_spr_tot-n_tonnes,accum_spr_tot-p_tonnes,accum_upstr_area_km2,accum_urban_tot-n_tonnes,accum_urban_tot-p_tonnes
ospar_region,,,,,,,,,,,,,,,,,,,,,
LOFOTEN-BARENTS SEA,672.555519,21.987276,10.565114,0.885819,19328.779047,3226.431895,30420.142394,3408.083590,682.527828,23.391116,...,10408.835519,158.260579,2656.587159,1283.826286,137.068871,317.885332,35.033211,138090.89,9.972310,1.403841
NORTH SEA,7273.294396,172.886056,80.323926,5.829535,26684.716816,4309.705828,54601.463629,4679.747282,7313.111878,177.954726,...,20603.634935,192.086728,3191.666970,3697.931313,411.706001,699.069243,77.810992,59314.38,39.817482,5.068670
NORWEGIAN SEA2,8729.222780,304.824216,101.708615,8.082202,33933.070621,5586.707807,62616.335093,6183.452685,8761.381570,309.064659,...,19921.882902,287.680220,4081.329821,2678.660916,316.848827,690.150363,79.702516,113934.05,32.158791,4.240442
SKAGERAK,14623.397503,431.769924,112.985724,6.352341,10513.648598,257.663646,43567.176361,880.193141,14897.131972,464.501891,...,18156.395791,158.027604,2432.355423,8339.721973,123.729092,952.999219,57.269384,102574.69,273.734469,32.731966

We can now calculate the unmonitored component by simply subtracting the values modelled upstream of monitoring stations from the overall modelled inputs to each OSPAR region.

#### 4.1.4. Estimate loads in unmonitored areas

In [11]:
# Calc unmonitored loads
unmon_df = os_df - mon_df

# Write output
out_csv = f"../../../Results/Unmon_loads/teotil2_raw_unmonitored_loads_{year}.csv"
unmon_df.to_csv(out_csv, encoding="utf-8", index_label="ospar_region")

unmon_df.round(0).astype(int).T

ospar_region,LOFOTEN-BARENTS SEA,NORTH SEA,NORWEGIAN SEA2,SKAGERAK
accum_agri_diff_tot-n_tonnes,512,4236,5506,1909
accum_agri_diff_tot-p_tonnes,18,110,209,89
accum_agri_pt_tot-n_tonnes,8,45,61,11
accum_agri_pt_tot-p_tonnes,1,4,5,1
accum_all_point_tot-n_tonnes,19239,26117,33306,6503
accum_all_point_tot-p_tonnes,3222,4252,5534,154
accum_all_sources_tot-n_tonnes,25909,40943,47990,9866
accum_all_sources_tot-p_tonnes,3345,4475,5885,272
accum_anth_diff_tot-n_tonnes,521,4270,5522,2021
accum_anth_diff_tot-p_tonnes,19,114,211,104
accum_aqu_tot-n_tonnes,17628,21552,29309,16
accum_aqu_tot-p_tonnes,3046,3707,5057,3
accum_ind_tot-n_tonnes,88,494,1083,910
accum_ind_tot-p_tonnes,7,81,111,37
accum_nat_diff_tot-n_tonnes,6148,10556,9162,1343
accum_nat_diff_tot-p_tonnes,105,109,140,14
accum_q_m3/s,1717,1663,2020,139
accum_ren_tot-n_tonnes,1244,3462,2365,5417
accum_ren_tot-p_tonnes,136,391,300,99
accum_spr_tot-n_tonnes,271,563,488,149
accum_spr_tot-p_tonnes,32,69,60,14
accum_upstr_area_km2,74378,35961,68037,8629
accum_urban_tot-n_tonnes,10,34,16,112
accum_urban_tot-p_tonnes,1,5,2,15

#### 4.1.5. Aggregate values to required quantities

In [12]:
# Aggregate to match report
unmon_df["flow"] = unmon_df["accum_q_m3/s"] * 60 * 60 * 24 / 1000.0  # 1000s m3/day

unmon_df["sew_n"] = (
    unmon_df["accum_ren_tot-n_tonnes"] + unmon_df["accum_spr_tot-n_tonnes"]
)
unmon_df["sew_p"] = (
    unmon_df["accum_ren_tot-p_tonnes"] + unmon_df["accum_spr_tot-p_tonnes"]
)

unmon_df["ind_n"] = unmon_df["accum_ind_tot-n_tonnes"]
unmon_df["ind_p"] = unmon_df["accum_ind_tot-p_tonnes"]

unmon_df["fish_n"] = unmon_df["accum_aqu_tot-n_tonnes"]
unmon_df["fish_p"] = unmon_df["accum_aqu_tot-p_tonnes"]

unmon_df["diff_n"] = (
    unmon_df["accum_anth_diff_tot-n_tonnes"] + unmon_df["accum_nat_diff_tot-n_tonnes"]
)
unmon_df["diff_p"] = (
    unmon_df["accum_anth_diff_tot-p_tonnes"] + unmon_df["accum_nat_diff_tot-p_tonnes"]
)

new_df = unmon_df[
    ["flow", "sew_n", "sew_p", "ind_n", "ind_p", "fish_n", "fish_p", "diff_n", "diff_p"]
]

# Total for Norway
new_df.loc["NORWAY"] = new_df.sum(axis=0)

# Reorder rows
new_df = new_df.reindex(
    ["NORWAY", "LOFOTEN-BARENTS SEA", "NORTH SEA", "NORWEGIAN SEA2", "SKAGERAK"]
)

new_df.round().astype(int)

/opt/conda/lib/python3.9/site-packages/pandas/core/indexing.py:723: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value, self.name)

,flow,sew_n,sew_p,ind_n,ind_p,fish_n,fish_p,diff_n,diff_p
ospar_region,,,,,,,,,
NORWAY,478459,13958,1101,2575,237,68506,11813,39543,816
LOFOTEN-BARENTS SEA,148308,1515,168,88,7,17628,3046,6670,124
NORTH SEA,143679,4025,460,494,81,21552,3707,14826,223
NORWEGIAN SEA2,174488,2853,360,1083,111,29309,5057,14684,351
SKAGERAK,11984,5565,113,910,37,16,3,3363,118

## 5. Other N and P species

Tore's procedure `RESA2.FIXTEOTILPN` defines simple correction factors for estimating PO4, NO3 and NH4 from total P and N. The table below lists the factors used.

|   Source    | Phosphate | Nitrate | Ammonium |
|:-----------:|:---------:|:-------:|:--------:|
|    Sewage   |     0.600 |   0.050 |    0.750 |
|   Industry  |     0.600 |   0.050 |    0.750 |
| Aquaculture |     0.690 |   0.110 |    0.800 |
|   Diffuse   |     0.246 |   0.625 |    0.055 |

In [13]:
# Dict of conversion factors
con_dict = {
    ("sew", "po4"): ("p", 0.6),
    ("ind", "po4"): ("p", 0.6),
    ("fish", "po4"): ("p", 0.69),
    ("diff", "po4"): ("p", 0.246),
    ("sew", "no3"): ("n", 0.05),
    ("ind", "no3"): ("n", 0.05),
    ("fish", "no3"): ("n", 0.11),
    ("diff", "no3"): ("n", 0.625),
    ("sew", "nh4"): ("n", 0.75),
    ("ind", "nh4"): ("n", 0.75),
    ("fish", "nh4"): ("n", 0.8),
    ("diff", "nh4"): ("n", 0.055),
}

# Apply factors
for src in ["sew", "ind", "fish", "diff"]:
    for spc in ["po4", "no3", "nh4"]:
        el, fac = con_dict[(src, spc)]
        new_df[src + "_" + spc] = fac * new_df[src + "_" + el]

new_df.round().astype(int).T

ospar_region  NORWAY  LOFOTEN-BARENTS SEA  NORTH SEA  NORWEGIAN SEA2  SKAGERAK
flow          478459               148308     143679          174488     11984
sew_n          13958                 1515       4025            2853      5565
sew_p           1101                  168        460             360       113
ind_n           2575                   88        494            1083       910
ind_p            237                    7         81             111        37
fish_n         68506                17628      21552           29309        16
fish_p         11813                 3046       3707            5057         3
diff_n         39543                 6670      14826           14684      3363
diff_p           816                  124        223             351       118
sew_po4          661                  101        276             216        68
sew_no3          698                   76        201             143       278
sew_nh4        10468                 1136       3019            2140      4174
ind_po4          142                    4         49              67        22
ind_no3          129                    4         25              54        46
ind_nh4         1932                   66        370             812       683
fish_po4        8151                 2102       2558            3489         2
fish_no3        7536                 1939       2371            3224         2
fish_nh4       54805                14103      17242           23448        13
diff_po4         201                   30         55              86        29
diff_no3       24714                 4169       9266            9177      2102
diff_nh4        2175                  367        815             808       185

## 6. Other quantities

The model currently only considers N and P, but the project focuses on a wider range of parameters. For now, we simply assume that all measured inputs (`renseanlegg`, `industri` and `akvakultur`) for regines outside of catchments with measured data make it to the sea.

We only want data for catchments that are not monitored i.e. for regine IDs **not** in the graph created above.

In [14]:
# The sql below uses a horrible (and slow!) hack to get around Oracle's
# 1000 item limit on IN clauses. See here for details:
# https://stackoverflow.com/a/9084247/505698
nd_list_hack = [(1, i) for i in nd_list]

sql = (
    "SELECT SUBSTR(a.regine, 1, 3) AS vassdrag, "
    "  a.type, "
    "  b.name, "
    "  b.unit, "
    "  SUM(c.value * d.factor) as value "
    "FROM RESA2.RID_PUNKTKILDER a, "
    "RESA2.RID_PUNKTKILDER_OUTPAR_DEF b, "
    "RESA2.RID_PUNKTKILDER_INPAR_VALUES c, "
    "RESA2.RID_PUNKTKILDER_INP_OUTP d "
    "WHERE a.anlegg_nr = c.anlegg_nr "
    "AND (1, a.regine) NOT IN %s "
    "AND d.in_pid = c.inp_par_id "
    "AND d.out_pid = b.out_pid "
    "AND c.year = %s "
    "GROUP BY SUBSTR(a.regine, 1, 3), a.type, b.name, b.unit "
    "ORDER BY SUBSTR(a.regine, 1, 3), a.type" % (tuple(nd_list_hack), year)
)

df = pd.read_sql(sql, engine)

# Tidy
df["par"] = df["type"] + "_" + df["name"] + "_" + df["unit"]
del df["name"], df["unit"], df["type"]

# Pivot
df = df.pivot(index="vassdrag", columns="par", values="value")
df.reset_index(inplace=True)

In [15]:
def f(x):
    try:
        a = int(x)
        return a
    except:
        return -999


# Convert vassdrag to numbers
df["vass"] = df["vassdrag"].apply(f)

# Get just the main catchments
df = df.query("vass != -999")

df.head()

par,vassdrag,INDUSTRI_As_tonn,INDUSTRI_Cd_tonn,INDUSTRI_Cr_tonn,INDUSTRI_Cu_tonn,INDUSTRI_Hg_tonn,INDUSTRI_NH3_tonn,INDUSTRI_NH4-N_tonn,INDUSTRI_Ni_tonn,INDUSTRI_PCB_tonn,...,RENSEANLEGG_Hg_tonn,RENSEANLEGG_Ni_tonn,RENSEANLEGG_PAH_tonn,RENSEANLEGG_PCB_tonn,RENSEANLEGG_Pb_tonn,RENSEANLEGG_S.P.M._tonn,RENSEANLEGG_Tot-N_tonn,RENSEANLEGG_Tot-P_tonn,RENSEANLEGG_Zn_tonn,vass
0,001,0.013880,8.440000e-03,0.006100,0.066960,0.000000,NaN,NaN,0.044640,NaN,...,0.000055,0.016846,0.000350,0.000007,0.001506,109.00386,114.45850,1.30677,0.084428,1
1,002,0.013737,6.093000e-03,1.034466,3.684397,0.004105,NaN,NaN,0.853632,NaN,...,0.000121,0.224232,0.001443,0.000000,0.010690,632.34177,704.71883,8.39027,0.931432,2
2,003,0.000042,2.000000e-07,0.000015,0.000086,0.000000,0.0,0.0465,0.000038,NaN,...,0.000019,0.030127,0.000066,NaN,0.001537,138.76414,293.43543,2.84214,0.186830,3
3,004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000008,0.008052,NaN,NaN,0.000773,NaN,135.76086,1.18041,0.086632,4
4,005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,38.71140,1.20802,NaN,5

In [16]:
def f2(x):
    if x in range(1, 24):
        return "SKAGERAK"
    elif x in range(24, 91):
        return "NORTH SEA"
    elif x in range(91, 171):
        return "NORWEGIAN SEA2"
    elif x in range(171, 248):
        return "LOFOTEN-BARENTS SEA"
    else:
        return np.nan


# Assign main catchments to OSPAR regions
df["osp_reg"] = df["vass"].apply(f2)

df.head()

par,vassdrag,INDUSTRI_As_tonn,INDUSTRI_Cd_tonn,INDUSTRI_Cr_tonn,INDUSTRI_Cu_tonn,INDUSTRI_Hg_tonn,INDUSTRI_NH3_tonn,INDUSTRI_NH4-N_tonn,INDUSTRI_Ni_tonn,INDUSTRI_PCB_tonn,...,RENSEANLEGG_Ni_tonn,RENSEANLEGG_PAH_tonn,RENSEANLEGG_PCB_tonn,RENSEANLEGG_Pb_tonn,RENSEANLEGG_S.P.M._tonn,RENSEANLEGG_Tot-N_tonn,RENSEANLEGG_Tot-P_tonn,RENSEANLEGG_Zn_tonn,vass,osp_reg
0,001,0.013880,8.440000e-03,0.006100,0.066960,0.000000,NaN,NaN,0.044640,NaN,...,0.016846,0.000350,0.000007,0.001506,109.00386,114.45850,1.30677,0.084428,1,SKAGERAK
1,002,0.013737,6.093000e-03,1.034466,3.684397,0.004105,NaN,NaN,0.853632,NaN,...,0.224232,0.001443,0.000000,0.010690,632.34177,704.71883,8.39027,0.931432,2,SKAGERAK
2,003,0.000042,2.000000e-07,0.000015,0.000086,0.000000,0.0,0.0465,0.000038,NaN,...,0.030127,0.000066,NaN,0.001537,138.76414,293.43543,2.84214,0.186830,3,SKAGERAK
3,004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.008052,NaN,NaN,0.000773,NaN,135.76086,1.18041,0.086632,4,SKAGERAK
4,005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,38.71140,1.20802,NaN,5,SKAGERAK

In [17]:
# Group by OSPAR region
df.fillna(0, inplace=True)
df = df.groupby("osp_reg").sum()
df.drop(0, inplace=True)

# Total for Norway
df.loc["NORWAY"] = df.sum(axis=0)

# Join to model results
df = new_df.join(df)

# Get cols of interest
umod_cols = ["S.P.M.", "TOC", "As", "Pb", "Cd", "Cu", "Zn", "Ni", "Cr", "Hg"]
umod_cols = [
    "%s_%s_tonn" % (i, j) for i in ["INDUSTRI", "RENSEANLEGG"] for j in umod_cols
]
cols = list(new_df.columns) + umod_cols
cols.remove("RENSEANLEGG_TOC_tonn")
df = df[cols]

df.round(0).astype(int).T

ospar_region,NORWAY,LOFOTEN-BARENTS SEA,NORTH SEA,NORWEGIAN SEA2,SKAGERAK
flow,478459,148308,143679,174488,11984
sew_n,13958,1515,4025,2853,5565
sew_p,1101,168,460,360,113
ind_n,2575,88,494,1083,910
ind_p,237,7,81,111,37
fish_n,68506,17628,21552,29309,16
fish_p,11813,3046,3707,5057,3
diff_n,39543,6670,14826,14684,3363
diff_p,816,124,223,351,118
sew_po4,661,101,276,216,68
sew_no3,698,76,201,143,278
sew_nh4,10468,1136,3019,2140,4174
ind_po4,142,4,49,67,22
ind_no3,129,4,25,54,46
ind_nh4,1932,66,370,812,683
fish_po4,8151,2102,2558,3489,2
fish_no3,7536,1939,2371,3224,2
fish_nh4,54805,14103,17242,23448,13
diff_po4,201,30,55,86,29
diff_no3,24714,4169,9266,9177,2102
diff_nh4,2175,367,815,808,185
INDUSTRI_S.P.M._tonn,422780,210980,7919,203100,781
INDUSTRI_TOC_tonn,1653,428,906,223,96
INDUSTRI_As_tonn,1,0,1,0,0
INDUSTRI_Pb_tonn,1,0,1,0,0
INDUSTRI_Cd_tonn,0,0,0,0,0
INDUSTRI_Cu_tonn,6,0,1,1,4
INDUSTRI_Zn_tonn,10,0,4,3,4
INDUSTRI_Ni_tonn,6,0,4,0,2
INDUSTRI_Cr_tonn,2,0,0,0,1
INDUSTRI_Hg_tonn,0,0,0,0,0
RENSEANLEGG_S.P.M._tonn,14475,2432,5079,4034,2930
RENSEANLEGG_As_tonn,0,0,0,0,0
RENSEANLEGG_Pb_tonn,0,0,0,0,0
RENSEANLEGG_Cd_tonn,0,0,0,0,0
RENSEANLEGG_Cu_tonn,6,0,1,1,4
RENSEANLEGG_Zn_tonn,16,0,4,2,9
RENSEANLEGG_Ni_tonn,2,0,0,0,1
RENSEANLEGG_Cr_tonn,0,0,0,0,0
RENSEANLEGG_Hg_tonn,0,0,0,0,0

## 7. Fish farm copper

Finally, we need to add in the Cu totals from fish farms. The method is similar to that used above, but simpler because we're only interested in one parameter.

In [19]:
# The sql below uses a horrible (and slow!) hack to get around Oracle's
# 1000 item limit on IN clauses. See here for details:
# https://stackoverflow.com/a/9084247/505698
nd_list_hack = [(1, i) for i in nd_list]
sql = (
    "SELECT SUBSTR(regine, 1, 3) AS vassdrag, "
    "  SUM(value) AS value FROM ( "
    "    SELECT b.regine, "
    "           c.name, "
    "           (a.value*d.factor) AS value "
    "    FROM resa2.rid_kilder_aqkult_values a, "
    "    resa2.rid_kilder_aquakultur b, "
    "    resa2.rid_punktkilder_outpar_def c, "
    "    resa2.rid_punktkilder_inp_outp d "
    "    WHERE a.anlegg_nr = b.nr "
    "    AND (1, b.regine) NOT IN %s "
    "    AND a.inp_par_id = d.in_pid "
    "    AND c.out_pid = d.out_pid "
    "    AND name = 'Cu' "
    "    AND ar = %s) "
    "GROUP BY SUBSTR(regine, 1, 3)" % (tuple(nd_list_hack), year)
)
aq_df = pd.read_sql(sql, engine)

# Get vassdrag
aq_df["vass"] = aq_df["vassdrag"].apply(f)
aq_df = aq_df.query("vass != -999")

# Calc OSPAR region and group
aq_df["osp_reg"] = aq_df["vass"].apply(f2)
aq_df.fillna(0, inplace=True)
aq_df = aq_df.groupby("osp_reg").sum()
del aq_df["vass"]

# Total for Norway
aq_df.loc["NORWAY"] = aq_df.sum(axis=0)

# Rename
aq_df.columns = [
    "AQUAKULTUR_Cu_tonn",
]

# Join model results
df = df.join(aq_df)

df.round(0).astype(int).T

ospar_region,NORWAY,LOFOTEN-BARENTS SEA,NORTH SEA,NORWEGIAN SEA2,SKAGERAK
flow,478459,148308,143679,174488,11984
sew_n,13958,1515,4025,2853,5565
sew_p,1101,168,460,360,113
ind_n,2575,88,494,1083,910
ind_p,237,7,81,111,37
fish_n,68506,17628,21552,29309,16
fish_p,11813,3046,3707,5057,3
diff_n,39543,6670,14826,14684,3363
diff_p,816,124,223,351,118
sew_po4,661,101,276,216,68
sew_no3,698,76,201,143,278
sew_nh4,10468,1136,3019,2140,4174
ind_po4,142,4,49,67,22
ind_no3,129,4,25,54,46
ind_nh4,1932,66,370,812,683
fish_po4,8151,2102,2558,3489,2
fish_no3,7536,1939,2371,3224,2
fish_nh4,54805,14103,17242,23448,13
diff_po4,201,30,55,86,29
diff_no3,24714,4169,9266,9177,2102
diff_nh4,2175,367,815,808,185
INDUSTRI_S.P.M._tonn,422780,210980,7919,203100,781
INDUSTRI_TOC_tonn,1653,428,906,223,96
INDUSTRI_As_tonn,1,0,1,0,0
INDUSTRI_Pb_tonn,1,0,1,0,0
INDUSTRI_Cd_tonn,0,0,0,0,0
INDUSTRI_Cu_tonn,6,0,1,1,4
INDUSTRI_Zn_tonn,10,0,4,3,4
INDUSTRI_Ni_tonn,6,0,4,0,2
INDUSTRI_Cr_tonn,2,0,0,0,1
INDUSTRI_Hg_tonn,0,0,0,0,0
RENSEANLEGG_S.P.M._tonn,14475,2432,5079,4034,2930
RENSEANLEGG_As_tonn,0,0,0,0,0
RENSEANLEGG_Pb_tonn,0,0,0,0,0
RENSEANLEGG_Cd_tonn,0,0,0,0,0
RENSEANLEGG_Cu_tonn,6,0,1,1,4
RENSEANLEGG_Zn_tonn,16,0,4,2,9
RENSEANLEGG_Ni_tonn,2,0,0,0,1
RENSEANLEGG_Cr_tonn,0,0,0,0,0
RENSEANLEGG_Hg_tonn,0,0,0,0,0
AQUAKULTUR_Cu_tonn,1306,337,410,559,0

In [20]:
# Write output
out_csv = f"../../../Results/Unmon_loads/teotil2_ospar_unmonitored_loads_{year}.csv"
df.to_csv(out_csv)

This data can then be used to create Table 3 in the report - see [this notebook](https://nbviewer.jupyter.org/github/JamesSample/rid/blob/master/notebooks/summary_table_2017.ipynb) for details.