In [1]:
import imp
import pandas as pd

# Generate RID data tables for Microsoft Word

This notebook includes code for creating Word tables in the output format required by the RID project.

## 1. Get site data

### 1.1. Establish database connection and import RID functions

In [2]:
# Connect to db
resa2_basic_path = (r'C:\Data\James_Work\Staff\Heleen_d_W\ICP_Waters\Upload_Template'
                    r'\useful_resa2_code.py')

resa2_basic = imp.load_source('useful_resa2_code', resa2_basic_path)

engine, conn = resa2_basic.connect_to_resa2()

# Import custom RID functions
rid_func_path = (r'C:\Data\James_Work\Staff\Oeyvind_K\Elveovervakingsprogrammet'
                 r'\Python\rid\notebooks\useful_rid_code.py')

rid = imp.load_source('useful_rid_code', rid_func_path)

### 1.2. Basic site metadata for stations of interest

In [3]:
# Read site data
in_xlsx = r'C:\Data\James_Work\Staff\Oeyvind_K\Elveovervakingsprogrammet\Data\RID_Sites_List.xlsx'

rid_11_df = pd.read_excel(in_xlsx, sheetname='RID_11')
rid_36_df = pd.read_excel(in_xlsx, sheetname='RID_36')
rid_108_df = pd.read_excel(in_xlsx, sheetname='RID_108')

# Drop the 37th site (with no NVE code) from RID_36
rid_36_df.dropna(how='any', inplace=True)

## 2. Tables of raw water chemistry data

The first set of tables displays raw water chemistry values for the 11 main rivers and the 36 tributaries. I've created a template in Word based on Tore's previous output that includes 47 blank tables:

C:\Data\James_Work\Staff\Oeyvind_K\Elveovervakingsprogrammet\Results\Word_Tables\Table_Templates\rid_water_chem_tables_template.docx

**Do not modify this document**. Instead, create a copy of it and use the code below to modify the copy with the desired data.

The code below fills in the Word template with data from 2015. The output is available in PDF format [here](https://github.com/JamesSample/rid/blob/master/pdf/TABLE1_2015_JES.pdf) and can be compared to the results in *Table 1a* of the 2015 report (page 148 onwards). 

**Note:** I haven't yet worried about number formatting (number of decimal places etc.) or conditional formatting of cells (i.e. colour codes). These features can be easily added later.

In [4]:
# Concatenate data for RID_11 and RID_36 sites
stn_df = pd.concat([rid_11_df, rid_36_df], axis=0)

# Path to *COPIED* template for editing
in_docx = (r'C:\Data\James_Work\Staff\Oeyvind_K\Elveovervakingsprogrammet'
           r'\Results\Word_Tables\2016Analysis_2015Data\TABLE1_2015_JES.docx')

# Write tables for 2015
rid.write_word_water_chem_tables(stn_df, 2015, in_docx, engine)

Processing: Glomma ved Sarpsfoss
    Extracting water chemistry data...
    Extracting flow data...
    Writing sample dates...
    Deleting empty rows...
    Writing data values...
    Writing summary statistics...
    Done.
Processing: Alna
    Extracting water chemistry data...
    Extracting flow data...
    Writing sample dates...
    Deleting empty rows...
    Writing data values...
    Writing summary statistics...
    Done.
Processing: Drammenselva
    Extracting water chemistry data...
    Extracting flow data...
    Writing sample dates...
    Deleting empty rows...
    Writing data values...
    Writing summary statistics...
    Done.
Processing: Numedalslågen
    Extracting water chemistry data...
    Extracting flow data...
    Writing sample dates...
    Deleting empty rows...
    Writing data values...
    Writing summary statistics...
    Done.
Processing: Skienselva
    Extracting water chemistry data...
    Extracting flow data...
    Writing sample dates...
    Deleting empty rows...
    Writing data values...
    Writing summary statistics...
    Done.
Processing: Otra
    Extracting water chemistry data...
    Extracting flow data...
    Writing sample dates...
    Deleting empty rows...
    Writing data values...
    Writing summary statistics...
    Done.
Processing: Orreelva
    Extracting water chemistry data...
    Extracting flow data...
    Writing sample dates...
    Deleting empty rows...
    Writing data values...
    Writing summary statistics...
    Done.
Processing: Vosso(Bolstadelvi)
    Extracting water chemistry data...
    Extracting flow data...
    Writing sample dates...
    Deleting empty rows...
    Writing data values...
    Writing summary statistics...
    Done.
Processing: Orkla
    Extracting water chemistry data...
    Extracting flow data...
    Writing sample dates...
    Deleting empty rows...
    Writing data values...
    Writing summary statistics...
    Done.
Processing: Vefsna
    Extracting water chemistry data...
    Extracting flow data...
    Writing sample dates...
    Deleting empty rows...
    Writing data values...
    Writing summary statistics...
    Done.
Processing: Altaelva
    Extracting water chemistry data...
    Extracting flow data...
    Writing sample dates...
    Deleting empty rows...
    Writing data values...
    Writing summary statistics...
    Done.
Processing: Tista utløp Femsjøen
    Extracting water chemistry data...
    Extracting flow data...
    Writing sample dates...
    Deleting empty rows...
    Writing data values...
    Writing summary statistics...
    Done.
Processing: Tokkeelva
    Extracting water chemistry data...
    Extracting flow data...
    Writing sample dates...
    Deleting empty rows...
    Writing data values...
    Writing summary statistics...
    Done.
Processing: Nidelva(Rykene)
    Extracting water chemistry data...
    Extracting flow data...
    Writing sample dates...
    Deleting empty rows...
    Writing data values...
    Writing summary statistics...
    Done.
Processing: Tovdalselva
    Extracting water chemistry data...
    Extracting flow data...
    Writing sample dates...
    Deleting empty rows...
    Writing data values...
    Writing summary statistics...
    Done.
Processing: Mandalselva
    Extracting water chemistry data...
    Extracting flow data...
    Writing sample dates...
    Deleting empty rows...
    Writing data values...
    Writing summary statistics...
    Done.
Processing: Lyngdalselva
    Extracting water chemistry data...
    Extracting flow data...
    Writing sample dates...
    Deleting empty rows...
    Writing data values...
    Writing summary statistics...
    Done.
Processing: Kvina
    Extracting water chemistry data...
    Extracting flow data...
    Writing sample dates...
    Deleting empty rows...
    Writing data values...
    Writing summary statistics...
    Done.
Processing: Sira
    Extracting water chemistry data...
    Extracting flow data...
    Writing sample dates...
    Deleting empty rows...
    Writing data values...
    Writing summary statistics...
    Done.
Processing: Bjerkreimselva
    Extracting water chemistry data...
    Extracting flow data...
    Writing sample dates...
    Deleting empty rows...
    Writing data values...
    Writing summary statistics...
    Done.
Processing: Figgjoelva
    Extracting water chemistry data...
    Extracting flow data...
    Writing sample dates...
    Deleting empty rows...
    Writing data values...
    Writing summary statistics...
    Done.
Processing: Lyseelva
    Extracting water chemistry data...
    Extracting flow data...
    Writing sample dates...
    Deleting empty rows...
    Writing data values...
    Writing summary statistics...
    Done.
Processing: Årdalselva
    Extracting water chemistry data...
    Extracting flow data...
    Writing sample dates...
    Deleting empty rows...
    Writing data values...
    Writing summary statistics...
    Done.
Processing: Ulladalsåna (Ulla)
    Extracting water chemistry data...
    Extracting flow data...
    Writing sample dates...
    Deleting empty rows...
    Writing data values...
    Writing summary statistics...
    Done.
Processing: Suldalslågen
    Extracting water chemistry data...
    Extracting flow data...
    Writing sample dates...
    Deleting empty rows...
    Writing data values...
    Writing summary statistics...
    Done.
Processing: Saudaelva
    Extracting water chemistry data...
    Extracting flow data...
    Writing sample dates...
    Deleting empty rows...
    Writing data values...
    Writing summary statistics...
    Done.
Processing: Vikedalselva
    Extracting water chemistry data...
    Extracting flow data...
    Writing sample dates...
    Deleting empty rows...
    Writing data values...
    Writing summary statistics...
    Done.
Processing: Jostedøla
    Extracting water chemistry data...
    Extracting flow data...
    Writing sample dates...
    Deleting empty rows...
    Writing data values...
    Writing summary statistics...
    Done.
Processing: Gaular
    Extracting water chemistry data...
    Extracting flow data...
    Writing sample dates...
    Deleting empty rows...
    Writing data values...
    Writing summary statistics...
    Done.
Processing: Jølstra
    Extracting water chemistry data...
    Extracting flow data...
    Writing sample dates...
    Deleting empty rows...
    Writing data values...
    Writing summary statistics...
    Done.
Processing: Nausta
    Extracting water chemistry data...
    Extracting flow data...
    Writing sample dates...
    Deleting empty rows...
    Writing data values...
    Writing summary statistics...
    Done.
Processing: Gloppenelva(Breimselva)
    Extracting water chemistry data...
    Extracting flow data...
    Writing sample dates...
    Deleting empty rows...
    Writing data values...
    Writing summary statistics...
    Done.
Processing: Driva
    Extracting water chemistry data...
    Extracting flow data...
    Writing sample dates...
    Deleting empty rows...
    Writing data values...
    Writing summary statistics...
    Done.
Processing: Surna
    Extracting water chemistry data...
    Extracting flow data...
    Writing sample dates...
    Deleting empty rows...
    Writing data values...
    Writing summary statistics...
    Done.
Processing: Gaula
    Extracting water chemistry data...
    Extracting flow data...
    Writing sample dates...
    Deleting empty rows...
    Writing data values...
    Writing summary statistics...
    Done.
Processing: Nidelva(Tr.heim)
    Extracting water chemistry data...
    Extracting flow data...
    Writing sample dates...
    Deleting empty rows...
    Writing data values...
    Writing summary statistics...
    Done.
Processing: Stjørdalselva
    Extracting water chemistry data...
    Extracting flow data...
    Writing sample dates...
    Deleting empty rows...
    Writing data values...
    Writing summary statistics...
    Done.
Processing: Verdalselva
    Extracting water chemistry data...
    Extracting flow data...
    Writing sample dates...
    Deleting empty rows...
    Writing data values...
    Writing summary statistics...
    Done.
Processing: Snåsavassdraget
    Extracting water chemistry data...
    Extracting flow data...
    Writing sample dates...
    Deleting empty rows...
    Writing data values...
    Writing summary statistics...
    Done.
Processing: Namsen
    Extracting water chemistry data...
    Extracting flow data...
    Writing sample dates...
    Deleting empty rows...
    Writing data values...
    Writing summary statistics...
    Done.
Processing: Røssåga
    Extracting water chemistry data...
    Extracting flow data...
    Writing sample dates...
    Deleting empty rows...
    Writing data values...
    Writing summary statistics...
    Done.
Processing: Ranaelva
    Extracting water chemistry data...
    Extracting flow data...
    Writing sample dates...
    Deleting empty rows...
    Writing data values...
    Writing summary statistics...
    Done.
Processing: Beiarelva
    Extracting water chemistry data...
    Extracting flow data...
    Writing sample dates...
    Deleting empty rows...
    Writing data values...
    Writing summary statistics...
    Done.
Processing: Målselv
    Extracting water chemistry data...
    Extracting flow data...
    Writing sample dates...
    Deleting empty rows...
    Writing data values...
    Writing summary statistics...
    Done.
Processing: Barduelva
    Extracting water chemistry data...
    Extracting flow data...
    Writing sample dates...
    Deleting empty rows...
    Writing data values...
    Writing summary statistics...
    Done.
Processing: Tanaelva
    Extracting water chemistry data...
    Extracting flow data...
    Writing sample dates...
    Deleting empty rows...
    Writing data values...
    Writing summary statistics...
    Done.
Processing: Pasvikelva
    Extracting water chemistry data...
    Extracting flow data...
    Writing sample dates...
    Deleting empty rows...
    Writing data values...
    Writing summary statistics...
    Done.
Finished.

## 3. Tables of loads at each site

The next set of tables shows annual pollutant loads for each of the 155 main sites. A Word template based on Tore's previous output is here:

C:\Data\James_Work\Staff\Oeyvind_K\Elveovervakingsprogrammet\Results\Word_Tables\Table_Templates\rid_loads_by_river_template.docx

**Do not modify this document**. Instead, create a copy of it and use the code below to modify the copy with the desired data.

The code below reads the output produced by [loads notebook](http://nbviewer.jupyter.org/github/JamesSample/rid/blob/master/notebooks/estimate_loads.ipynb) and fills-in the template with data from 2015. The finished table is available in PDF format [here](https://github.com/JamesSample/rid/blob/master/pdf/TABLE2_2015_JES.pdf) and can be compared to *Table 2a* of the 2015 report (page 186 onwards). 

**Note:** I have made the following changes to the orginal table from the report (see section 2.2 of [this notebook](http://nbviewer.jupyter.org/github/JamesSample/rid/blob/master/notebooks/estimate_loads.ipynb) for details):

 * The original table included duplicated sites/rows, which have now been removed <br><br>
 
 * The original table did not distinguish between two sites named Børselva and two named Oselva. For these four locations, I have added the site code in brackets after the site name to avoid confusion i.e. `Børselva (FINEBØR)` versus `Børselva (STREBØR)` etc.

In [5]:
# Concatenate data for RID_11, RID_36 and RID_108 sites
stn_df = pd.concat([rid_11_df, rid_36_df, rid_108_df], axis=0)

# Path to *COPIED* template for editing
in_docx = (r'C:\Data\James_Work\Staff\Oeyvind_K\Elveovervakingsprogrammet'
           r'\Results\Word_Tables\2016Analysis_2015Data\TABLE2_2015_JES.docx')

# Read loads data (from "loads notebook")
loads_csv = (r'C:\Data\James_Work\Staff\Oeyvind_K\Elveovervakingsprogrammet'
             r'\Results\Loads_CSVs\loads_all_sites_2015.csv')

# Write tables for 2015
rid.write_word_loads_table(stn_df, loads_csv, in_docx, engine)

Processing:
    Numedalslågen (VESENUM)...
    Vosso(Bolstadelvi) (HOREVOS)...
    Orreelva (ROGEORR)...
    Skienselva (TELESKI)...
    Otra (VAGEOTR)...
    Vefsna (NOREVEF)...
    Alna (OSLEALN)...
    Glomma ved Sarpsfoss (ØSTEGLO)...
    Altaelva (FINEALT)...
    Drammenselva (BUSEDRA)...
    Orkla (STREORK)...
    Årdalselva (ROGEÅRD)...
    Tista utløp Femsjøen (ØSTETIS)...
    Gaula (STREGAU)...
    Driva (MROEDRI)...
    Snåsavassdraget (NTRESNÅ)...
    Ranaelva (NORERAN)...
    Lyseelva (ROGELYS)...
    Beiarelva (NOREBEI)...
    Barduelva (TROEBAR)...
    Målselv (TROEMÅL)...
    Suldalslågen (ROGESUL)...
    Figgjoelva (ROGEFIG)...
    Nausta (SFJENAU)...
    Sira (VAGESIR)...
    Bjerkreimselva (ROGEBJE)...
    Kvina (VAGEKVI)...
    Tokkeelva (TELETOK)...
    Tanaelva (FINETAN)...
    Jostedøla (SFJEJOS)...
    Saudaelva (ROGESAU)...
    Stjørdalselva (STRESTJ)...
    Ulladalsåna (Ulla) (ROGEULL)...
    Lyngdalselva (VAGELYN)...
    Surna (MROESUR)...
    Namsen (NTRENAM)...
    Nidelva(Tr.heim) (STRENID)...
    Gloppenelva(Breimselva) (SFJEGLO)...
    Gaular (SFJEGAU)...
    Tovdalselva (VAGETOV)...
    Verdalselva (NTREVER)...
    Røssåga (NORERØS)...
    Pasvikelva (FINEPAS)...
    Jølstra (SFJEJØL)...
    Nidelva(Rykene) (AAGENID)...
    Mandalselva (VAGEMAN)...
    Vikedalselva (ROGEVIK)...
    Repparfjordelva (FINEREP)...
    Drevja (NOREDRE)...
    Stuorrajåkka (FINESTO)...
    Moelva(Salsvatenelva) (NTRESAL)...
    Rauma (MROERAU)...
    Espedalselva (ROGEESP)...
    Oltedalselva,utløp Ragsvatnet (ROGEOLT)...
    Eira (MROEEIR)...
    Gråe (NTREGRÅ)...
    Hølenelva (AKEEHØL)...
    Soussjåkka (FINESOU)...
    Fykanåga (NOREFYK)...
    Stabburselva (FINESTA)...
    Lakselva(Rossfjordelva) (TROELAK)...
    Lakseelv (FINELAK)...
    Mørkrisdalselvi (SFJEMØR)...
    Sogndalselva (SFJESOG)...
    Saltelva (NORESAL)...
    Oselva (HOREOSL)...
    Dalselva (NOREDAL)...
    Lysakerelva (OSLELYS)...
    Årgårdselva (NTREÅRG)...
    Ljanselva (OSLELJA)...
    Fortundalselva (SFJEFOR)...
    Vigda (STREVIG)...
    Tysso (HORETYSx)...
    Elvegårdselva (NOREELV)...
    Neidenelva (FINENEI)...
    Kåfjordelva (TROEKÅF)...
    Vegårdselva (AAGEVEG)...
    Imselva (ROGEIMS)...
    Gjerstadelva (VAGEGJE)...
    Homla (STREHOM)...
    Erdalselvi (SFJEERD)...
    Førrelva (ROGEFØR)...
    Veig (HOREVEI)...
    Åbøelva (ROGEÅBØ)...
    Hopselva (SFJEHOP)...
    Austdøla (HOREAUS)...
    Kinso (HOREKIN)...
    Flåmselvi (SFJEFLÅ)...
    Toåa (MROETOÅ)...
    Frafjordelva (ROGEFRA)...
    Salangselva (TROESAL)...
    Figgja (NTREFIG)...
    Soknedalselva (ROGESOK)...
    Håelva (ROGEHÅE)...
    Sima (HORESIM)...
    Sandeelva (VESESAN)...
    Åroselva (BUSEÅRO)...
    Aulielva (VESEAUL)...
    Årungelva (AKEEÅRU)...
    Ååelva (Gjengedalselva) (SFJEÅEL)...
    Syltefjordelva(Vesterelva) (FINESYL)...
    Opo (HOREOPO)...
    Lierelva (BUSELIE)...
    Lærdalselva /Mjeldo (SFJELÆR)...
    Skjerva (NORESKJ)...
    Akerselva (OSLEAKE)...
    Signaldalselva (TROESIG)...
    Børselva (FINEBØR)...
    Børselva (STREBØR)...
    Isa (MROEISA)...
    Nordkjoselva (TROENOR)...
    Etneelva (HOREETN)...
    Skibotnelva (TROESKI)...
    Ekso -Storelvi (HOREEKS)...
    SulitjelmavassdragetUtl Øvrevt (NORESUL)...
    Bøvra (MROEBØV)...
    Audnedalselva (VAGEAUD)...
    Nærøydalselvi (SFJENÆR)...
    DaleelviBergsdalsvassdraget (HOREDAL)...
    Dirdalsåna (ROGEDIR)...
    Stryneelva (SFJESTR)...
    Nordøla /Austdøla (HORENOR)...
    Hellelandselva (ROGEHEL)...
    Farriselva-Siljanvassdraget (VESEFAR)...
    Frognerelva (OSLEFRO)...
    Ålvunda (MROEÅLV)...
    Søgneelva-Songdalselva (VAGESØG)...
    Tverrelva (FINETVE)...
    Ørstaelva (MROEØRS)...
    Jakobselv (FINEJAK)...
    Sandvikselva (AKEESAN)...
    Litledalselva (MROELIT)...
    Bjerkaelva (NOREBJE)...
    Mosselva (ØSTEMOS)...
    Modalselva -Moelvi (HOREMOD)...
    Aurlandselvi (SFJEAUR)...
    Mattusjåkka (FINEMATx)...
    Årøyelva (SFJEÅRØ)...
    Spanselva (TROESPA)...
    Mattiselva (FINEMAT)...
    Valldøla (MROEVAL)...
    Tysselvi Samnangervassdraget (HORETYS)...
    Gjersjøelva (AKEEGJE)...
    Kobbelva (NOREKOB)...
    Adamselva (FINEADA)...
    Oldenelva (SFJEOLD)...
    Grense Jakobselv (FINEGJA)...
    Årdalselvi (SFJEÅRD)...
    Reisaelva (TROEREI)...
    Loelvi (SFJELOE)...
    Fusta (NOREFUS)...
    Oselva (SFJEOSE)...
    Åelva(Åbjøra) (NOREÅEL)...
    Hornindalselva(Horndøla) (SFJEHOR)...
    Bjoreio (HOREBJO)...
Finished.

## 4. Annual summary of monitored and modelled loads

The third data table combines all the data from the entire project. Before running the code below, it is necessary to have processed all the monitoring data (creating a file like *loads_and_flows_all_sites_2016.csv* - see [this notebook](http://nbviewer.jupyter.org/github/JamesSample/rid/blob/master/notebooks/rid_working_2016-17.ipynb)), as well as completing the modelling for unmonitored locations (creating a file like *unmon_loads_2015.csv* - see [this notebook](http://nbviewer.jupyter.org/github/JamesSample/rid/blob/master/notebooks/loads_unmonitored_regions.ipynb)). The code below restructures these files and writes the final output to Word.

A Word template modified from Tore's previous output is here:

C:\Data\James_Work\Staff\Oeyvind_K\Elveovervakingsprogrammet\Results\Word_Tables\Table_Templates\rid_loads_overall_summary_template.docx

**Do not modify this document**. Instead, create a copy of it and use the code below to modify the copy with the desired data.

### 4.1. Summarise monitoring data

The code below adds up the monitored loads. Note that because some of the tributary rivers are upstream of others, it is necessary to build the catchment network using NOPE to identify the downstream-most catchments.

In [3]:
# Import model
nope_path = (r'C:\Data\James_Work\Staff\Oeyvind_K\Elveovervakingsprogrammet'
             r'\Python\rid\notebooks\nope.py')
nope = imp.load_source('nope', nope_path)

In [4]:
# Read station data
in_xlsx = (r'C:\Data\James_Work\Staff\Oeyvind_K\Elveovervakingsprogrammet'
           r'\Data\RID_Sites_List.xlsx')
stn_df = pd.read_excel(in_xlsx, sheetname='RID_All')

# Get just cols of interest and drop duplicates 
# (some sites are in the same regine)
stn_df = stn_df.drop_duplicates(subset=['ospar_region', 'nve_vassdrag_nr'])

# Get catch IDs with calib data
calib_nds = set(stn_df['nve_vassdrag_nr'].values)

# Build network
in_path = (r'C:\Data\James_Work\Staff\Oeyvind_K\Elveovervakingsprogrammet'
           r'\NOPE\NOPE_Annual_Inputs\nope_input_data_1990.csv')
g, nd_list = nope.build_calib_network(in_path, calib_nds)

# Get list of downstream nodes
ds_nds = []
for nd in g:
    # If no downstream nodes
    if g.out_degree(nd) == 0:
        # Node is of interest
        ds_nds.append(nd)

# Get just the downstream catchments
stn_df = stn_df[stn_df['nve_vassdrag_nr'].isin(ds_nds)]

In [5]:
# Read data
in_csv = (r'C:\Data\James_Work\Staff\Oeyvind_K\Elveovervakingsprogrammet'
          r'\Results\Loads_CSVs\loads_and_flows_all_sites_2015.csv')
mon_df = pd.read_csv(in_csv)

# Get just the downstream catchments
#mon_df = mon_df[mon_df['station_id'].isin(stn_df['station_id'].values)]

# Group by OSPAR region
mon_df1 = mon_df.groupby(['ospar_region', 'rid_group']).sum()

# Totals for Norway
mon_df2 = mon_df.groupby('rid_group').sum().reset_index()
mon_df2['ospar_region'] = 'NORWAY'
mon_df2.set_index(['ospar_region', 'rid_group'], inplace=True)

# Combine
mon_df = pd.concat([mon_df1, mon_df2], axis=0)

# Cols of interest
cols = [i for i in mon_df.columns if i.split('_')[1] != 'Est']
mon_df = mon_df[cols]
del mon_df['station_id']

# Rename cols to match template
mon_df['Flow rate_1000m3/day'] = mon_df['mean_q_1000m3/day']
del mon_df['mean_q_1000m3/day']

# Units are correct, so remove
mon_df.columns = [i.split('_')[0] for i in mon_df.columns]

mon_df.round(0)

C:\Data\WinPython-64bit-2.7.10.3\python-2.7.10.amd64\lib\site-packages\pandas\core\series.py:1342: RuntimeWarning: invalid value encountered in rint
  result = _values_from_object(self).round(decimals)

                                Ag    As   Cd    Cr     Cu    Hg  NH4-N  \
ospar_region        rid_group
LOFOTEN-BARENTS SEA rid_108    NaN   1.0  0.0   1.0    6.0   6.0   75.0
                    rid_11     0.0   0.0  0.0   1.0    1.0   1.0   11.0
                    rid_36     0.0   4.0  0.0   5.0   57.0   6.0  136.0
NORTH SEA           rid_108    NaN   2.0  0.0   1.0   13.0  15.0  215.0
                    rid_11     0.0   0.0  0.0   0.0    2.0   5.0   30.0
                    rid_36     0.0   3.0  0.0   3.0   15.0  15.0  170.0
NORWEGIAN SEA2      rid_108    NaN   1.0  0.0   1.0    6.0  10.0  153.0
                    rid_11     0.0   1.0  0.0   1.0    9.0   5.0   17.0
                    rid_36     0.0   3.0  0.0   6.0   19.0  20.0  209.0
SKAGERAK            rid_108    NaN   1.0  0.0   1.0    3.0   4.0  103.0
                    rid_11     0.0  10.0  1.0  13.0   65.0  54.0  749.0
                    rid_36     0.0   2.0  0.0   2.0    9.0  12.0  133.0
NORWAY              rid_108    NaN   5.0  0.0   5.0   29.0  35.0  546.0
                    rid_11     0.0  12.0  1.0  15.0   77.0  65.0  807.0
                    rid_36     0.0  12.0  1.0  15.0  100.0  53.0  647.0

                                 NO3-N     Ni  PO4-P    Pb       SPM  \
ospar_region        rid_group
LOFOTEN-BARENTS SEA rid_108      195.0    5.0   12.0   0.0    9317.0
                    rid_11       104.0    1.0    8.0   0.0    7762.0
                    rid_36       409.0  100.0   97.0   4.0   40667.0
NORTH SEA           rid_108     3955.0    9.0   33.0   4.0   30965.0
                    rid_11       602.0    2.0    8.0   0.0    5746.0
                    rid_36      4765.0    6.0   60.0   8.0   46293.0
NORWEGIAN SEA2      rid_108      922.0    5.0   24.0   1.0   29601.0
                    rid_11       407.0    3.0   10.0   0.0   17761.0
                    rid_36      2384.0   17.0   56.0   3.0   65440.0
SKAGERAK            rid_108     1832.0    3.0   19.0   1.0   15568.0
                    rid_11     14057.0   34.0  419.0  18.0  425544.0
                    rid_36      1686.0    4.0   21.0   5.0   22583.0
NORWAY              rid_108     6903.0   22.0   88.0   7.0   85450.0
                    rid_11     15170.0   40.0  444.0  19.0  456813.0
                    rid_36      9244.0  128.0  235.0  20.0  174982.0

                                   SiO2       TOC     TOTN   TOTP     Zn  \
ospar_region        rid_group
LOFOTEN-BARENTS SEA rid_108     22984.0   24725.0   1070.0   21.0    7.0
                    rid_11      11102.0    9942.0    622.0   20.0    1.0
                    rid_36      76566.0   61942.0   4048.0  195.0   28.0
NORTH SEA           rid_108     34990.0   36832.0   6443.0  115.0   38.0
                    rid_11       4287.0    5355.0   1113.0   27.0    5.0
                    rid_36      39357.0   55523.0   8871.0  152.0  114.0
NORWEGIAN SEA2      rid_108     22299.0   26034.0   2284.0   75.0   11.0
                    rid_11      12640.0   15335.0   1231.0   29.0   23.0
                    rid_36      52937.0   61475.0   6174.0  113.0   53.0
SKAGERAK            rid_108     11520.0   19313.0   2828.0   87.0   23.0
                    rid_11     192802.0  234499.0  26758.0  753.0  359.0
                    rid_36      25597.0   56741.0   4473.0   65.0   61.0
NORWAY              rid_108     91793.0  106904.0  12625.0  297.0   79.0
                    rid_11     220830.0  265131.0  29724.0  829.0  388.0
                    rid_36     194457.0  235681.0  23566.0  525.0  256.0

                               Flow rate
ospar_region        rid_group
LOFOTEN-BARENTS SEA rid_108      30547.0
                    rid_11        7772.0
                    rid_36       45946.0
NORTH SEA           rid_108      89183.0
                    rid_11       12018.0
                    rid_36       90382.0
NORWEGIAN SEA2      rid_108      51554.0
                    rid_11       22339.0
                    rid_36       80308.0
SKAGERAK            rid_108      10367.0
                    rid_11      159191.0
                    rid_36       33846.0
NORWAY              rid_108     181651.0
                    rid_11      201320.0
                    rid_36      250483.0

### 4.2. Data for unmonitored areas

In [6]:
# Read data
in_csv = (r'C:\Data\James_Work\Staff\Oeyvind_K\Elveovervakingsprogrammet'
          r'\Results\Unmon_loads\unmon_loads_2015.csv')
umon_df = pd.read_csv(in_csv, index_col=0)

# Rename cols
umon_df.columns = [i.replace('RENSEANLEGG', 'sew') for i in umon_df.columns]
umon_df.columns = [i.replace('INDUSTRI', 'ind') for i in umon_df.columns]
umon_df.columns = [i.replace('_tonn', '') for i in umon_df.columns]
umon_df.columns = [i.replace('AQUAKULTUR', 'fish') for i in umon_df.columns]

# Convert Hg to kgs
umon_df['sew_Hg'] = umon_df['sew_Hg']*1000
umon_df['ind_Hg'] = umon_df['ind_Hg']*1000

umon_df.round(0)

,flow,sew_n,sew_p,ind_n,ind_p,fish_n,fish_p,diff_n,diff_p,sew_po4,...,sew_S.P.M.,sew_As,sew_Pb,sew_Cd,sew_Cu,sew_Zn,sew_Ni,sew_Cr,sew_Hg,fish_Cu
ospar_region,,,,,,,,,,,,,,,,,,,,,
NORWAY,521983.0,13456.0,1006.0,2342.0,208.0,57569.0,9948.0,40577.0,779.0,604.0,...,2007.0,0.0,0.0,0.0,4.0,12.0,2.0,1.0,6.0,981.0
LOFOTEN-BARENTS SEA,125082.0,1201.0,163.0,58.0,4.0,14083.0,2433.0,5830.0,115.0,98.0,...,261.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,240.0
NORTH SEA,202846.0,3876.0,346.0,400.0,83.0,19268.0,3324.0,17552.0,271.0,207.0,...,876.0,0.0,0.0,0.0,1.0,2.0,0.0,0.0,1.0,328.0
NORWEGIAN SEA2,181224.0,2778.0,365.0,930.0,87.0,24174.0,4184.0,14074.0,305.0,219.0,...,870.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,413.0
SKAGERAK,12830.0,5601.0,133.0,954.0,34.0,43.0,8.0,3121.0,89.0,80.0,...,1.0,0.0,0.0,0.0,3.0,9.0,1.0,0.0,4.0,1.0

### 4.3. Process template

In [7]:
# Create table 3
in_docx = (r'C:\Data\James_Work\Staff\Oeyvind_K\Elveovervakingsprogrammet'
           r'\Results\Word_Tables\2016Analysis_2015Data\TABLE3_2015_JES.docx')

rid.write_word_overall_table(mon_df, umon_df, in_docx)

Finished.

The values in [this table](https://github.com/JamesSample/rid/blob/master/pdf/TABLE3_2015_JES.pdf) are very similar to those in Table 3 of the 2015 report (page 202 onwards). Minor differences between my output and that reported in 2015 can be explained as follows:

 * There are very minor discrepancies between the regine catchments considered as "monitored" in my workflow compared to Tore's. I think Tore's code may include some monitored discharges twice, as some monitored catchments appear to upstream of one another. Overall, these differences are negligible <br><br>
 
 * My handling of LOD values is different to Tore's. Furthermore, my method for estimating historic concentrations for the RID 108 stations is substantially different - see [this notebook](http://nbviewer.jupyter.org/github/JamesSample/rid/blob/master/notebooks/estimate_loads.ipynb) for details.<br><br>
 
 * For unmonitored locations, my new model uses a different (an in my opinion improved) method for estimating annual runoff for each regine catchment. The total flows estimated by the new model are therefore slightly different. <br><br>
 
 * The new model assumes that "local" inputs are added at the upstream boundary of the catchment (and are therefore subject to retention), whereas I think TEOTIL assumes local inputs are added at the catchment outflow (so the retention factor is not applied). Both seem reasonable, but one consequence is that the new model predicts slightly lower loads than the old one.
 
Overall, I'm pretty happy that these results are comparable.